<%= form_for @recipe do |f| %>
 
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form__recipe">
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
   
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :image %><br>
       <%= f.file_field :image %>
    </p>

    <p>
      <%= label_tag :ingredients %><br>
      <p>One ingredient per line</p>
      <%= text_area_tag :ingredients %>
    </p>
   
    <p>
      <%= f.submit %>
    </p>
  </div>
 
<% end %>



  
  
  
  
